@page "/counter"
@using MySqlConnector


<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<p>Error: @error</p>

@code {
    private int currentCount = 0;
    private string error="";

    private void IncrementCount()
    {
        currentCount++;
        MySqlConnection connection = new MySqlConnection("Server=127.0.0.1;Port=33060;User ID=root;Password=f9f6345b-8344-498f-a458-958c62a6ade0");

        try
        {
            connection.Open();
            error = "none";
        }
        catch (Exception e)
        {
            error = e.Message.ToString();
        }  
    }
}
