@using Models
@using System.Text.Json
@using SequelyMAUI.Components.Utils


@inject IConnectionHandler ConnectionHandler
@inject IDialogService DialogService
@inject NavigationManager NavigationManager

@page "/mysql-dashboard"

<h3>MySqlDashboard</h3>

@code {

}
