@inherits LayoutComponentBase

@using SequelyMAUI.Components.Pages 
@using SequelyMAUI.Models
@using SequelyMAUI.Components.Utils

@inject IConnectionHandler ConnectionHandler
@inject IDialogService DialogService
@inject NavigationManager NavigationManager

<MudThemeProvider IsDarkMode="true"/>
<MudDialogProvider />
<MudSnackbarProvider />


@*     <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <div class="top-row px-4">
                <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
            </div>

            <article class="content px-4">
                @Body
            </article>
        </main>
    </div> *@

@Body



@code
{
    Connection? previousConnection;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            previousConnection = await ConnectionHandler.RetrievePreviousConnection();
        }
        catch (Exception e)
        {
            var options = new DialogOptions { CloseButton = true, DisableBackdropClick = true };

            var parameters = new DialogParameters<InfoDialog>();
            parameters.Add(x => x.ContentText, e.ToString());

            var dialog = await DialogService.ShowAsync<InfoDialog>("Error", parameters, options);
        } 
        finally
        {
            if (previousConnection == null)
            {
                NavigationManager.NavigateTo("connections");
            }

            else
            {
                NavigationManager.NavigateTo("mysql-dashboard");
            }
        }
    }
}